{{ extend 'layout.html' }}

{{ block head }}
<link rel="stylesheet" href="{{=URL('static', 'css/students-form.css')}}">
<title>Register students</title>
{{ end head }}


<div id="form-container" class="form-container">

</div>

{{ block paje_js }}
<script type="module" src="{{=URL('static', 'dist/form/index.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{ end paje_js }}

<style>
    .form-container {
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>