* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #0c479e;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    width: 70%;
    max-width: 600px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 30px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-control {
    text-align: center;
    height: 35px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    font-size: 15px;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary {
    color: white;
    background: linear-gradient(254deg, rgba(255,255,255,1) 0%, rgba(247,101,246,1) 0%, rgba(0,128,154,1) 70%);
    transition: box-shadow 0.2s;
}

.btn-primary:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px black
}

.text-danger {
    color: #8a0404;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 14px;
}